<script type="text/javascript">
jQuery(function() {
	/* make sure that the leftBar is always visible when entering page. */
	leftBar.showAnimated()
});
</script>

<h3>$i18n.getString( "dhis-pbf-panel" )</h3>

