
<h2>$i18n.getString( "pbf_analytics_olap" )&nbsp;</h2>
<ul>
<a href="showQuantityAnalyticsDataPivotOne.action">$i18n.getString( "analytics_olap_one" )&nbsp;</a>
</ul>
<ul>
<a href="showQuantityAnalyticsDataPivotTwo.action">$i18n.getString( "analytics_olap_two" )&nbsp;</a>
</ul>
<ul>
<a href="showQuantityAnalyticsDataPivotThree.action">$i18n.getString( "analytics_olap_three" )&nbsp;</a>
</ul>
<ul>
<a href="showQuantityAnalyticsDataPivotFour.action">$i18n.getString( "analytics_olap_four" )&nbsp;</a>
</ul>
<ul>
<a href="showQuantityAnalyticsDataPivotFive.action">$i18n.getString( "analytics_olap_five" )&nbsp;</a>
</ul>
<ul>
<a href="showQuantityAnalyticsDataPivotSix.action">$i18n.getString( "analytics_olap_six" )&nbsp;</a>
</ul>
