  <style>

  table{
    border-collapse: collapse;
    border-style: solid; border-width: 1px 1px 1px 1px; border-color: darkred;
  }
  table td{
    border-style: solid; border-width: 1px 1px 1px 1px; border-color: darkred;
  }
  thead th{
    border-style: solid; border-width: 1px 1px 1px 1px; border-color: darkred;
  }
  table tr{
    height: 32px; background-color:#EEEEEE;
	border-style: solid; border-width: 1px 1px 1px 1px; border-color: darkred;
  }
  </style>
  
<script type="text/javascript">
	jQuery(document).ready(function(){	
	
	});

	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_data_element" ) , "'")';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ) , "'")';
	var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
	var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
	var i18n_number = '$encoder.jsEscape( $i18n.getString( "number" ) , "'")';
	var i18n_yes_only = '$encoder.jsEscape( $i18n.getString( "yes_only" ) , "'")';
	var i18n_yes_no = '$encoder.jsEscape( $i18n.getString( "yes_no" ) , "'")';
	var i18n_text = '$encoder.jsEscape( $i18n.getString( "text" ) , "'")';
	var i18n_date = '$encoder.jsEscape( $i18n.getString( "date" ) , "'")';	
	var i18n_user_name = '$encoder.jsEscape( $i18n.getString( "user_name" ) , "'")';	
	var i18n_sum = '$encoder.jsEscape( $i18n.getString( "sum" ) , "'")';
	var i18n_average = '$encoder.jsEscape( $i18n.getString( "average" ) , "'")';
	var i18n_aggregate = '$encoder.jsEscape( $i18n.getString( "aggregate" ) , "'")';
	var i18n_patient = '$encoder.jsEscape( $i18n.getString( "patient" ) , "'")';
	var i18n_translation_translate = '$encoder.jsEscape( $i18n.getString( "translation_translate" ) , "'")';
	var i18n_edit = '$encoder.jsEscape( $i18n.getString( "edit" ) , "'")';
	var i18n_remove = '$encoder.jsEscape( $i18n.getString( "remove" ) , "'")';
	var i18n_show_details = '$encoder.jsEscape( $i18n.getString( "show_details" ) , "'")';
	var i18n_name = '$encoder.jsEscape( $i18n.getString( "name" ) , "'")';
	var i18n_operations = '$encoder.jsEscape( $i18n.getString( "operations" ) , "'")';
</script>

<div>
							<input type="button" value="$i18n.getString( 'print' )" onclick="printExtVerDetails()" style="width:80px"/>
</div>
							<div>$pbfReport.reportName
			</div>
			
			<div id="content">
			<table class="" id="reportList">
                <thead>
					<tr>
					<th style="width:25px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_ind_code' )</th>
						<th style="width:325px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_ind_name' )</th>
						<th style="width:95px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_fac_qty' )</th>
						<th style="width:95px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_ver_qty' )</th>
						<th style="width:95px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_diff' )</th>
						<th style="width:25px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_target' )</th>
						<th style="width:95px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_calc_qty' )</th>
						<th style="width:95px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_qty_for_pay' )</th>
						<th style="width:95px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_serv_price' )</th>
						<th style="width:95px; border-width: 1px 1px 1px 1px; border-color: darkred;">$i18n.getString( 'form_total_pay' )</th>
					</tr>
				</thead>
#set ($totam = 0)
#set ($totdiscam = 0)
#set ($totwithdiscam = 0)
#set ($tottaxam = 0)
#set ($totsocam = 0)
#set ($totfacam = 0)
#set ($totgrosam = 0)
#set ($totnetam = 0)

#set ($totfacval = 0)
#set ($totverval = 0)
#set ($totdiffval = 0)


				<tbody id="list">
				#foreach( $calc in $pbfCalculations )
				<tr id="">
					<td width="25px"> $calc.sortOrder </td>
					<td width="325px"> $calc.indicatorName </td>
					<td width="95px"> $calc.facilityQuarterValue </td>
					<td width="95px"> $calc.quarterValueOrig </td>
					<td width="95px"> </td>
					<td width="25px"> $calc.ThresholdValue </td>
					<td width="95px"> $calc.basisValue </td>
					<td width="95px"> </td>
					<td width="95px"> $calc.unitPrice </td>
					<td width="95px">  $i18n.getString( 'form_currency' ).</td>
				</tr>
#set ($totam = $totam + $calc.quarterAmount)
#set ($totdiscam = $totdiscam + $calc.discountAmount)
#set ($totwithdiscam = $totwithdiscam + $calc.totalAmountWithDiscount)
#set ($tottaxam = $tottaxam + $calc.taxAmount)
#set ($totsocam = $totsocam + $calc.socialTaxAmount)
#set ($totfacam = $totfacam + $calc.facilityAmount)
#set ($totgrosam = $totgrosam + $calc.salaryAmount)
#set ($totnetam = $totnetam + $calc.netGross)

#set ($cp = $calc.currationPerformed)


#set ($totfacval = $totfacval + $calc.facilityQuarterValue)
#set ($totverval = $totverval + $calc.quarterValueOrig)
#set ($totdiffval = $totdiffval + $calc.diffQuarterValue)

#set ($discrate = $totdiscam*100/$totam)

				#end
				
				
				
				<tr id="">
					<td width="25px"> $i18n.getString( 'total_excl' ) </td>
					<td width="95px"></td>
					<td width="95px">  </td>
					<td width="95px">  </td>
					<td width="95px">    </td>
					<td width="95px"> </td>
					<td width="95px"> </td>
					<td width="95px"> </td>
					<td width="95px"> </td>
					<td width="95px">  $i18n.getString( 'form_currency' ).</td>
				</tr>
				
				</tbody>
			</table>
			
			<p>
#set ($vare = $totalQualityScore*100/$qualityScore)
			<table>

#if($cp==1)
#set ($cpr = $i18n.getString( 'yes' ))
#else
#set ($cpr = $i18n.getString( 'no' ))
#end	
			
<tr><td colspan=5 width="325px">$i18n.getString( 'total_excl' )</td><td> #set($String = "abc") </td></tr>
<tr>
<td width="325px">$i18n.getString( 'total_disc' )</td>

<td width="200px"> #set($String = "abc")$i18n.getString( 'form_max_score' ) </td>

<td width="200px"> #set($String = "abc") $i18n.getString( 'form_gain_score' ) </td>
<td width="200px">#set($String = "abc") $i18n.getString( 'form_per_gain' ) </td>
<td width="200px">#set($String = "abc") $i18n.getString( 'form_per_add' ) </td>
<td width="200px">#set($String = "abc") $i18n.getString( 'form_currency' ).</td>
</tr>

<tr><td colspan=5 width="325px">$i18n.getString( 'total_with_disc' )</td><td></td></tr>
<tr><td colspan=5 width="325px">$i18n.getString( 'total_fac' )</td><td></td></tr>
<tr><td colspan=5 width="325px">$i18n.getString( 'total_gross' )</td><td></td></tr>

<tr><td colspan=4 width="325px">$i18n.getString( 'curr_amnt' )</td><td></td></tr>



</table>
			<script type="text/javascript">	
function printExtVerDetails(){
        window.location.href = '../dhis-web-pbf/displayExtVerPbfCalcsReport.action?id=$pbfReport.id&ds=5';
};
	</script>	

