<script type="text/javascript">
    jQuery(document).ready(function() {        
	    	  	
	  	#if( $render == true )
	    var dataSetReport = {
	        dataSet: "${ds}",
	  	    periodType: "${periodType.name}",
	  	    period: "${pe}",
	  	    offset: ${offset}
	  	};
	  	setDataSetReport( dataSetReport );	  	
		#else
		selectionTreeSelection.setMultipleSelectionAllowed( true );
    	//selectionTree.clearSelectedOrganisationUnits();
    	selectionTree.buildSelectionTree();
    	#end
	});

    var i18n_select_data_set = '$encoder.jsEscape( $i18n.getString( "select_data_set" ), "'")';
    var i18n_select_period = '$encoder.jsEscape( $i18n.getString( "select_period" ), "'")';
    var i18n_select_organisation_unit = '$encoder.jsEscape( $i18n.getString( "select_organisation_unit" ), "'")';
    var i18n_generating_report = '$encoder.jsEscape( $i18n.getString( "generating_report" ), "'")';    
    var i18n_share_your_interpretation = '$encoder.jsEscape( $i18n.getString( "share_your_interpretation" ), "'")';
    var i18n_interpretation_was_shared = '$encoder.jsEscape( $i18n.getString( "interpretation_was_shared" ), "'")';
</script>

<style type="text/css" media="print">
div#control {
  display: none;
}

h3#dataset_report_header {
  display: none;
}

#download_buttons {
  display: none;
}

#shareForm {
  display: none;
}  

.gridTable {
    width: 100%;
}
</style>

<style type="text/css">
div#control {
  margin-bottom: 15px;
}

div.inputSection {
  padding-top: 7px;
  padding-bottom: 5px;
}
</style>

<!-- Period -->

<div class="inputSection">
<label>$i18n.getString( "report_period_start" )</label><br>
<select id="periodType" name="periodType" style="width:174px" onchange="displayPeriods()">
  <option value="">[ $i18n.getString( "select_period_type" ) ]</option>
  #foreach ( $type in $periodTypes )
  <option value="$type.name">$i18n.getString( $type.name )</option>
  #end
</select>
<input type="button" style="width:75px" value="$i18n.getString( 'prev_year' )" onclick="displayPreviousPeriods()" />
<input type="button" style="width:75px" value="$i18n.getString( 'next_year' )" onclick="displayNextPeriods()" /><br>

<select id="periodId" name="periodId" style="width:330px" disabled="disabled">
</select>
</div>


<div class="inputSection">
<input type="button" value='$i18n.getString( "get_report" )' style="width:120px" onclick="produceQuarterlySummaryReport()">
<input type="button" value='$i18n.getString( "cancel" )' style="width:120px" onclick="showMainPage()">
</div>
</div>

<!--#parse( "dhis-web-commons/loader/loader.vm" )-->

<div id="content"></div>

<script type='text/javascript'>
function showMainPage() {
window.location.href = 'index.action';
}
</script>