<?xml version="1.0" encoding="UTF-8"?>
<datasource>
  <sourcedefs>
    #foreach( $member in $dataSource.members )	
      <sourcedef id="$member.id">$member.clause)</sourcedef>
    #end
  </sourcedefs>
</datasource>